models:
  Product:
    title: string:255
    quantity: string:255
    period: string:100
    address: text
    description: longtext
    relationships:
      hasOne: ProductType, ProductCategories, Owner
      hasMany: Media

controllers:
  Product:
    index:
      query: all
      render: products.index with:products
    
    create:
      render: products.create

    store:
      validate: title, quantity, period, address, description
      save: products
      redirect: products.index

    edit:
      render: products.edit with:products
    
    update:
      validate: title, quantity, period, address, description
      update: products
      redirect: product-categories.index

    destroy:
      delete: products
      redirect: products.index